body{
    background-color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0 auto;

}
.wrapper{
    display: block;
    width: 90vw;
    border: 1px solid red;
    padding: 1%; 
    margin-bottom: 1%;
    column-count: 3;
}

.container{
    display: block;
    height: 400px;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.658);
    border-radius: 10px;
    padding: 1%;
    overflow: hidden;
}

img{
    width: 70%;
}
.images{
    background-image: url(../images/earth.jpg);
    background-repeat: repeat;
 
 

}
