body{
    background-image: url("../images/another-image.jpg");
    background-size: 150%;
    background-position: bottom;
    color:black;
    text-align: center;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;    
}

.dot{
    height: 25px;
    width: 25px;
    background-color:lightpink;
    border-radius: 50%;
    display: inline-block;
}
  



nav{
    font-style: italic;
    display: inline-block;
    box-sizing: border-box;
    background-color:white;
    width: 200px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
}

.about{
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
}

#pp{
    width: 300px;
    margin: 0 auto;
}
