body{
    background-image: url("../images/another-image.jpg");
    background-size: 150%;
    background-position: bottom;
    color:black;
    text-align: center;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;    
}

.dot{
    height: 15px;
    width: 15px;
    background-color:lightpink;
    border-radius: 50%;
    display: inline-block;
}
  

.about{
    width: 100%;
    background:lightpink;
    transition: width 2s;
    text-align:center;
    padding:15px;
    margin:10px
}

#pp{
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
}
